YoutubeDownloader4CNN/YoutubeDownloader4CNN/Connected Services/ServiceReference1/Functional.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Functional" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Functional" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyTableAudionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyTableAudionData" nillable="true" type="tns:MyTableAudionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyTableAudionData" nillable="true" type="tns:ArrayOfMyTableAudionData" />
  <xs:complexType name="MyTableAudionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ready" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyTableAudionData" nillable="true" type="tns:MyTableAudionData" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>